* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
}

nav {
  height: 80px;
  background: #D53C2C;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem calc((100vw - 1300px) / 2);
}

.logo {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 2rem;
}

nav a {
  text-decoration: none;
  color: #fff;
  padding: 0 1.5rem;
}

nav a:hover {
  color: #fff;
}

.hero {
  background-image: url(images/IMG_0734.jpg); /* Replace with your image path */
  background-repeat: no-repeat; /* Prevent tiling if image is smaller than body */
  background-size: cover; /* Resize image to cover the entire body element */
  background-position: center; /* Center the image horizontally and vertically */
  /* background: #044C86; */
}

.hero-container {
  display: grid;
  grid-template-columns: calc((100vw - 1300px) / 2) 1fr 0.85fr;  /* Define left padding, two equal columns */
  height: 95vh;
  /*padding: 0rem calc((100vw - 1300px) / 2);*/
}

.hero-testimonial {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 95vh;
  padding: 3rem calc((100vw - 1300px) / 2);
}

.column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  color: #fff;
  padding: 0rem 2rem;
}

.column-testimonial {
  display: flex;
  flex-direction: column;
  margin-top: 0rem;
  align-items: flex-start;
  color: #fff;
  padding: 0rem 2rem;
}

.column-left h1 {
  margin-bottom: 1rem;
  font-size: 2.7rem;
}

.column-left p {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  line-height: 1.5;
}

button {
  padding: 1rem 3rem;
  font-size: 1rem;
  border: none;
  color: #000;
  background: #fff;
  cursor: pointer;
  border-radius: 50px;
}

button:hover {
  background: #D53C2C;
  color: #fff;
}

.column-right {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 0rem 2rem;

}

.hero-image {
  width: 7%;
  height: 60%;
}

.right-image {
  width: 85%;
  height: 40%;
}

@media screen and (max-width: 768px) {
  .hero-container {
    grid-template-columns: 1fr;
  }
}
